/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i|Raleway:300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

body{
    font-family: 'Raleway', sans-serif;
    font-family: 'Lato', sans-serif;
}
.pt100{
    padding-top: 100px;
}
.pb100{
    padding-bottom: 100px;
}
.pb80{
    padding-bottom: 80px;
}
.section-title h2 {
    font-size: 24px;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding-top: 70px;
}
.section-title hr {
    width: 50px;
    color: #121212;
    height: 2px;
    text-align: right;
    display: block;
    margin: auto;
    margin-top: 10px;
}
.section-title span {
    font-size: 16px;
    color: #555555;
    text-align: center;
    display: block;
    font-style: italic;
    font-family: 'Lato', sans-serif;
    margin-top: 20px;
    margin-bottom: 65px;
}
header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.header-area{
    position: relative;
    background: #ffffff;
    opacity: 0.8;
}
.logo-area{
    padding: 16px 0;
}
.menu-area ul li a {
    color: #353535;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.menu-area ul li a:hover {
   color: #8ec448;
   transition: 1s;
}
.menu-area ul li a.active {
    color: #8ec448;
}
.menu-area ul li ul.submenu {
    position: absolute;
    width: 25%;
    padding: 0;
    top: 180%;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
    background: #ffffff;
}
.menu-area ul li:hover ul.submenu {
    opacity: 1;
    visibility: visible;
}
.menu-area ul li ul.submenu li {
    list-style: none;
    padding: 15px;
}
.menu-area ul li ul.submenu li:hover{
    background: #cccccc;
}
.menu-area ul li ul.submenu li a {
    text-decoration: none;
}
.search-icon {
    font-size: 13px;
    position: absolute;
    top: 0px;
    left: auto;
    right: -20px;
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    cursor: pointer;
}

.search-area input {
    font-size: 13px;
    border: 1px solid #dddddd;
    padding: 10px;
}

.search-area form {
    position: relative;
}

/* Slider-Area */
.single-slider {
    position: relative;
}
.slider-text {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    transform: translateY(-50%);
}
.slider-text span {
    font-size: 24px;
    color: #353535;
    font-weight: 700;
    padding-bottom: 5px;
    display: block;
    text-transform: uppercase;
}
.slider-text h1 {
    font-size: 60px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: #353535;
    text-transform: uppercase;
    padding-bottom: 40px;
}
.slider-text a {
    text-decoration: none;
    color: #353535;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    padding: 15px 30px;
    font-weight: 800;
    text-transform: uppercase;
    border: 1px solid #353535;
    margin-right: 15px;
    transition: 2s;
    border-radius: 5px;
}
.slider-text a:last-child {
   background: #8ec448;
   color: #fff;
   border: none;
}
.slider-text a:last-child:hover {
    border: 1px solid #353535;
    color: #353535;
    background: none;
}
.slider-text a:hover {
    background: #8ec448;
    color: #fff;
    border: none;
}
.slider-area .owl-dots{
    text-align: center;
    margin: auto;
}
.slider-area .owl-dots button {
    position: relative;
    width: 15px;
    height: 15px;
    border: 2px solid #353535;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    top: -55px;
}
.slider-area .owl-dots button.active {
    background: #8ec448;
    border: none;
}

/* Service-Area */
.service-content {
    padding-bottom: 100px;
}
.service-content i {
    font-size: 35px;
    color: #353535;
    padding-bottom: 10px;
    display: block;
}
.service-area h3 {
    color: #353535;
    font-size: 13px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}
/* POrtfolio-Area */
.portfolio-menu {
    padding-bottom: 20px;
}
.portfolio-menu li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}
.portfolio-menu li{
    position: relative;
}
.portfolio-menu li::before {
    content: "/";
    position: absolute;
    left: 100%;
}
.portfolio-menu li:last-child::before {
    display: none;
}
.single-portfolio {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.portfolio-img img {
    width: 100%;
}

.posrtolio-content {
    position: absolute;
    bottom: 65px;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    transition: 3s;
}

.search-link a {
    font-size: 24px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #8ec448;
    line-height: 50px;
    display: inline-block;
    color: #fff;
    margin-bottom: 55px;
}

.portfolio-title h2 {
    font-size: 13px;
    color: #8ec448;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.portfolio-title span {
    font-size: 13px;
    color: #fefefe;
    font-style: italic;
}

.portfolio-img a:before {
    content: "";
    position: absolute;
    background: #333;
    top: 0;
    bottom: -100%;
    left: 0;
    right: 0;
    opacity: 0;
    transition: 2s;
}

.single-portfolio:hover .portfolio-img a:before {
    opacity: 0.6;
}
.single-portfolio:hover .posrtolio-content {
    opacity: 1;
}
.load-more {
    margin-bottom: 100px;
    margin-top: 30px;
}
.load-more a {
    font-size: 13px;
    color: #353535;
    padding: 15px 30px;
    border: 1px solid #353535;
    display: inline-block;
    transition: 2s;
    text-transform: uppercase;
}
.load-more a:hover {
    background: #8ec448;
    color: #fff;
    border: none;
}

/* About Unify */
.about-img{
    position: relative;
}
.about-img img {
    width: 100%;
}
.about-img::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 300px;
    background: #8ec448;
    right: 76px;
    top: 25px;
    transform: rotate(26deg);
}
.about-unify-area .section-title h2{
    padding-top: 0;
}
.about-unify-area p {
    color: #555555;
    font-size: 14px;
    text-align: center;
    line-height: 24px;
}
.read-more {
    margin-top: 25px;
    margin-bottom: 95px;
}
.read-more a {
    font-size: 13px;
    color: #353535;
    padding: 15px 30px;
    border: 1px solid #353535;
    display: inline-block;
    transition: 2s;
    text-transform: uppercase;
}

.read-more a:hover {
    background: #8ec448;
    color: #fff;
    border: none;
}

/* Skill Area */

.progresive-bar .progress {
    height: 10px;
    margin-bottom: 60px;
    position: relative;
    overflow: visible;
    border-radius: 5px;
    background: #dddddd;
}
.progresive-bar .probar-content {
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    top: -20px;
}

.progresive-bar .progress span {
    position: absolute;
    left: auto;
    right: 0;
    color: #353535;
    font-weight: 700;
    font-size: 12px;
    top: -20px;
    font-family: 'Raleway', sans-serif;
}

/* Team-Area */
.team-area{
    overflow: hidden;
}
.team-wrapper {
    position: relative;
    cursor: pointer;
}

.single-image img {
    width: 100%;
}

.team-content {
    position: absolute;
    top: 248px;
    left: 0;
    right: 0;
    background: #333;
    bottom: 0;
    opacity: 0.8;
    text-align: center;
    transition: .3s;
}
.team-wrapper:hover .team-content{
    top: 0;
}

.team-text h3 {
    font-size: 12px;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.team-text h4 {
    color: #fff;
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.team-text {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    transition: .3s;
}
.team-wrapper:hover .team-text {
    top: 155px;
}
.team-social-link {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 120px;
    transition: 0.3s;
}
.team-wrapper:hover .team-social-link {
    opacity: 1;
    visibility: visible;
}
.team-social-link ul {
    padding: 0;
}

.team-social-link li {
    list-style: none;
    display: inline-block;
}

.team-social-link ul li a {
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 38px;
    border-radius: 50%;
    text-align: center;
    border: 2px solid #fff;
    display: block;
    font-size: 16px;
}
.team-social-link ul li:hover a.facebook {
    color: #3B5998;
}
.team-social-link ul li:hover a.twitter {
    color: #5dbcee;
}
.team-social-link ul li:hover a.google-plus {
    color: #d34836;
}
.team-social-link ul li:hover a.behance {
    color: #053eff;
}

/* Testimonial Area */
.testimonial-wrapper {
    display: flex;
    margin-right: 35px;
}
.tesitionial-area .section-title {
    color: #fff;
}
.tesitionial-area .section-title hr{
    color: #fff;
}
.tesitionial-area .section-title span{
    color: #fff;
}
.testimonial-image {
    margin-top: 105px;
}

.testimonial-content {
    background: #fff;
    border-radius: 5px;
    padding: 75px 30px 32px 30px;
    position: relative;
    margin-left: 50px;
}

.testimonial-content::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 30px 20px 0;
    border-color: transparent #f7f7f7 transparent transparent;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
}

.testimonial-content h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
}

.testimonial-content h4 {
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    color: #353535;
}

.testimonial-content p {
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    color: #353535;
    padding-top: 22px;
}
.testimonial-image img {
    width: 100%;
}
.testimonial-image img {
    padding: 3px;
    border: 1px solid #fff;
    border-radius: 50%;
}
.testimonial-active .owl-dots {
    text-align: center;
    margin: auto;
}
.testimonial-active .owl-dots button.active {
    background: #8ec448;
    border: none;
}
.testimonial-active .owl-dots button {
    position: relative;
    width: 15px;
    height: 15px;
    border: 2px solid #353535;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    top: 55px;
}
/* Blog Area */

.blog-image {
    float: left;
    margin-right: 15px;
    position: relative;
}
.blog-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0;
    transition: 2s;
}
.blog-image:hover::before {
    opacity: 0.5;
}
.blog-image a {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    transform: translateY(-50%);
}
.blog-image a svg {
    font-size: 18px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid #fff;
    margin: 10px;
    width: 40px !important;
    height: 40px;
    padding: 10px;
    color: #fff;
    opacity: 0;
    transition: 2s;
}
.blog-image:hover a svg {
    opacity: 1;
}
.blog-admin-area {
    display: flex;
}

.blog-admin span {
    font-size: 11px;
    color: #555555;
    font-weight: 700;
    padding-right: 115px;
}

.blog-date span {
    font-size: 11px;
    color: #555555;
    font-weight: 700;
}
.blog-admin span svg {
    font-size: 11px;
}
.blog-date span svg {
    font-size: 11px;
}
.blog-text h3 {
	color: #353535;
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	padding-top: 35px;
	padding-bottom: 20px;
}
.blog-text p {
    color: #555555;
    font-size: 14px;
    font-weight: 300;
}
.blog-text a {
    text-decoration: none;
    font-size: 13px;
    color: #353535;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    transition: 2s;
}
.blog-text a:hover {
    color: #aed484;
}
.blog-text a svg {
    font-size: 15px;
    padding-top: 2px;
}
.blog-area .owl-dots {
    text-align: center;
    margin: auto;
}

.blog-area .owl-dots button.active {
    background: #8ec448;
    border: none;
}

.blog-area .owl-dots button {
    position: relative;
    width: 15px;
    height: 15px;
    border: 2px solid #353535;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    top: 55px;
}

/* Brand Area */
.brand-image {
    padding: 25px 23px;
    border: 1px solid #dddddd;
    margin: 0 22px;
}
/* newsletter Area */
.newsletter{
    background: url('img/bg-02.png') repeat scroll center top / cover;
    overflow: hidden;
}
.newsletter .section-title h2{
    color: #fff;
}
.newsletter .section-title span {
    color: #fff;
}
.news-form form input {
    background: transparent;
    border: 1px solid #fff;
    width: 540px;
    height: 50px;
    color: #fff;
    padding: 20px;
}

.news-form form {
    position: relative;
}

.news-form form button {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    height: 100%;
    border: 1px solid #fff;
    padding: 18px 20px;
    background: transparent;
    overflow: hidden;
    line-height: 0px;
    cursor: pointer;
}
/* Footer Top-Area */
.footer-top{
    overflow: hidden;
}
.footer-logo {
    padding-bottom: 35px;
}

.footer-text {
    font-size: 14px;
    color: #555555;
}

.footer-text p {
    padding-bottom: 10px;
}

.footer-number .footer-icon {
    float: left;
    padding-bottom: 10px;
    padding-top: 10px;
}

.footer-icon {
    margin-right: 25px;
}
.footer-email .footer-icon {
    float: left;
    padding-bottom: 10px;
    padding-top: 10px;
}
.footer-adress .footer-icon {
    float: left;
    padding-bottom: 10px;
    padding-top: 10px;
}
address {
    padding-top: 10px;
}
.instragram-title {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 65px;
}
.footer-weiget-image {
    margin: 0 -5px;
}
.footer-weiget-image a{
    width: 33.33%;
    float: left;
    padding: 0 5px;
    margin-bottom: 10px;
}
.footer-weiget-content {
    display: flex;
    margin-bottom: 10px;
}

.twitter-icon {
    margin-right: 20px;
}
.twitter-icon svg {
    color: #1da1f2;
}
.footer-weiget-content p {
    font-size: 14px;
    line-height: 25px;
}

.footer-weiget-content p span {
    font-weight: 700;
}
.footer-image {
    width: 100px;
    height: 80px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.footer-image img {
    width: 100%;
    height: 100%;
}
.footer-top-text {
    font-size: 14px;
    color: #555555;
}
.footer-top-text p{
    margin-bottom: 0px;
}

















